@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    color: aliceblue;
}
html,body {
    width: 100%;
    min-height: 100%;
    scroll-behavior: smooth;
    position: relative;
}
img {
    max-width: 100%;
    height: auto;
}
a {
    color: currentColor;
    cursor: pointer;
}